<h2>7日間分の投稿数</h2>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <td>6日前</td>
            <td>5日前</td>
            <td>4日前</td>
            <td>3日前</td>
            <td>2日前</td>
            <td>1日前</td>
            <td>今日</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= post_count[6] %></td>
            <td><%= post_count[5] %></td>
            <td><%= post_count[4] %></td>
            <td><%= post_count[3] %></td>
            <td><%= post_count[2] %></td>
            <td><%= post_count[1] %></td>
            <td><%= post_count[0] %></td>
          </tr>
        </tbody>
      </table>